In [2]:
import json
import geojson
import pandas as pd

In [36]:
with open(r'/Users/louisejensen/Desktop/GitHub/postnumre.geojson') as f:
  data = json.load(f)

daata = []
koor = []
test = []

for post in data['features']:
    daata.append(post['properties'])
    koor.append(post['geometry'])

test = pd.DataFrame(data = daata)
koor = pd.DataFrame(data = koor)
test['coordinates'] = koor.iloc[: , 1]
#pd.concat([test, test['coordinates'].str.split(', ', expand=True)], axis=1)

#Sort the data so we only include the specific postal codes
data2 = test.copy()
data2.set_index('POSTNR_TXT')
data2.sort_values('POSTNR_TXT')
#data2.reset_index(inplace=True)

#postnr = data2.loc[data2["POSTNR_TXT"] == '1000-1499, 2000]
#postnr = data2.iloc[0:15]

#print(test)

    POSTNR_TXT   POSTBYNAVN                                        coordinates
23   1000-1499  København K  [[[12.666542562884098, 55.71937575051712, -999...
22   1000-1499  København K  [[[12.729095505845207, 55.70326432400145, -999...
21   1000-1499  København K  [[[12.613831814120543, 55.70149026627223, -999...
20   1000-1499  København K  [[[12.58972912951792, 55.66790522143455, -999....
19   1000-1499  København K  [[[12.577792422735687, 55.670762504573865, -99...
..         ...          ...                                                ...
572       9940         Læsø  [[[10.898202907267818, 57.245416371817264, -99...
391       9970     Strandby  [[[10.50756333752875, 57.48554327502682, -999....
472       9981        Jerup  [[[10.3477417745637, 57.52611119046122, -999.0...
776       9982        Ålbæk  [[[10.269505867015152, 57.61887141822833, -999...
223       9990       Skagen  [[[10.343131283408797, 57.64543909530037, -999...

[805 rows x 3 columns]