In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'rest_rates_rating_BRUG.csv' , sep = ';')

df['rest_rating'] = df['rest_rates_rating;month_year'].astype(str).str[37:38]
df['month_year'] = df['rest_rates_rating;month_year'].astype(str).str[49:]
df['year'] = df['month_year'].astype(str).str[-4:]
df['month'] = df['month_year'].astype(str).str[:-4]

df = df.loc[: , ['rest_name' , 'rest_rating' , 'year' , 'month']]

j = ['januar' , 'februar' , 'marts' , 'april' , 'maj' , 'juni' , 'juli' , 'august' , 'september' , 'oktober' , 'november' , 'december']
k=['01' , '02' , '03' , '04' , '05' , '06' , '07' , '08' , '09' , '10' , '11' , '12']
df['month2']=df['month']
#vi replacer så vi ikke har variabel med  ]
df['month2'].replace(j, k, inplace=True)

df['rest_rating'] = pd.to_numeric(df['rest_rating'])

#df2 = df.copy()

df = df.loc[(df['year'] != '"">"')]

#df['year'] = pd.to_numeric(df['year'])
#df['month2'] = pd.to_numeric(df['month2'])
df['month'] = df['month2']
df = df.iloc[: , :-1]

df['date'] = df.year + '-' + df.month


df.head()

         rest_name  rest_rating  year month     date
0  Lomos Food Shop            5  2017    04  2017-04
1  Lomos Food Shop            4  2017    02  2017-02
2  Lomos Food Shop            4  2017    02  2017-02
3  Lomos Food Shop            5  2016    11  2016-11
4  Lomos Food Shop            5  2016    12  2016-12

In [5]:
#Indlæser DMI data
df_weather = pd.read_csv(r'C:\Users\Bruger\Documents\GitHub\Group19\EXAM\dmi_join_rdy.csv')
df_weather

#Joining datasets

df = df.join(df_weather.set_index('date'), on='date')

df

             rest_name  rest_rating  year month     date   avg_temp
0      Lomos Food Shop            5  2017    04  2017-04   7.143611
1      Lomos Food Shop            4  2017    02  2017-02   2.414839
2      Lomos Food Shop            4  2017    02  2017-02   2.414839
3      Lomos Food Shop            5  2016    11  2016-11   4.801204
4      Lomos Food Shop            5  2016    12  2016-12   4.892359
...                ...          ...   ...   ...      ...        ...
89027       Kardemomme            5  2016    03  2016-03   4.381023
89028       Kardemomme            4  2015    09  2015-09  14.370063
89029       Kardemomme            4  2015    08  2015-08  18.730390
89030       Kardemomme            2  2014    03  2014-03   6.394351
89031       Kardemomme            4  2012    12  2012-12   0.865009

[85434 rows x 6 columns]