In [3]:
#import packages
import csv
import pandas as pd

In [9]:
#import data
df = pd.read_csv(r'ML_DATA.csv' , sep = ',')

df = df.iloc[:,1:]

df.head()

,value,rest_price_cat,rest_no_review,rest_rating_aggr,rest_rating_2,rest_rating_3,rest_rating_4,rest_rating_5,area_Frederiksberg,area_Frederiksberg C,...,rest2_International,rest2_Italiensk,rest2_Japansk,rest2_Kinesisk,rest2_Latinamerikansk,rest2_Mellemøstlig,rest2_Middelhavsområdet,rest2_Moderne,rest2_Skandinavisk,rest2_Steakhouse
0,7.143611,2.5,48.0,4.5,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.414839,2.5,48.0,4.5,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.414839,2.5,48.0,4.5,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.801204,2.5,48.0,4.5,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.892359,2.5,48.0,4.5,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.columns

Index(['value', 'rest_price_cat', 'rest_no_review', 'rest_rating_aggr',
       'rest_rating_2', 'rest_rating_3', 'rest_rating_4', 'rest_rating_5',
       'area_Frederiksberg', 'area_Frederiksberg C', 'area_Hellerup',
       'area_Kastrup', 'area_København K', 'area_København N',
       'area_København NV', 'area_København S', 'area_København SV',
       'area_København V', 'area_København Ø', 'area_Nordhavn', 'area_Søborg',
       'area_Valby', 'area_Vanløse', 'rest2_Amerikansk', 'rest2_Asiatisk',
       'rest2_Bar', 'rest2_Café', 'rest2_Europæisk', 'rest2_Fastfood',
       'rest2_Fisk og skaldyr', 'rest2_Fransk', 'rest2_Indisk',
       'rest2_International', 'rest2_Italiensk', 'rest2_Japansk',
       'rest2_Kinesisk', 'rest2_Latinamerikansk', 'rest2_Mellemøstlig',
       'rest2_Middelhavsområdet', 'rest2_Moderne', 'rest2_Skandinavisk',
       'rest2_Steakhouse'],
      dtype='object')