In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv(r'rest_rates_rating_BRUG.csv' , sep = ';')

df['rest_rating'] = df['rest_rates_rating;month_year'].astype(str).str[37:38]
df['month_year'] = df['rest_rates_rating;month_year'].astype(str).str[49:]
df['year'] = df['month_year'].astype(str).str[-4:]
df['month'] = df['month_year'].astype(str).str[:-4]

df = df.loc[: , ['rest_name' , 'rest_rating' , 'year' , 'month']]

j = ['januar' , 'februar' , 'marts' , 'april' , 'maj' , 'juni' , 'juli' , 'august' , 'september' , 'oktober' , 'november' , 'december']
k=['01' , '02' , '03' , '04' , '05' , '06' , '07' , '08' , '09' , '10' , '11' , '12']
df['month2']=df['month']
#vi replacer så vi ikke har variabel med  ]
df['month2'].replace(j, k, inplace=True)

df['rest_rating'] = pd.to_numeric(df['rest_rating'])

#df2 = df.copy()

df = df.loc[(df['year'] != '"">"')]

#df['year'] = pd.to_numeric(df['year'])
#df['month2'] = pd.to_numeric(df['month2'])
df['month'] = df['month2']
df = df.iloc[: , :-1]

df['date'] = df.year + '-' + df.month


df.head()

         rest_name  rest_rating  year month     date
0  Lomos Food Shop            5  2017    04  2017-04
1  Lomos Food Shop            4  2017    02  2017-02
2  Lomos Food Shop            4  2017    02  2017-02
3  Lomos Food Shop            5  2016    11  2016-11
4  Lomos Food Shop            5  2016    12  2016-12

In [22]:
#Indlæser DMI data
df_weather = pd.read_csv(r'dmi_join_rdy.csv')
df_weather

#Joining datasets

df = df.join(df_weather.set_index('date'), on='date')

df

             rest_name  rest_rating  year month     date   avg_temp
0      Lomos Food Shop            5  2017    04  2017-04   7.143611
1      Lomos Food Shop            4  2017    02  2017-02   2.414839
2      Lomos Food Shop            4  2017    02  2017-02   2.414839
3      Lomos Food Shop            5  2016    11  2016-11   4.801204
4      Lomos Food Shop            5  2016    12  2016-12   4.892359
...                ...          ...   ...   ...      ...        ...
89027       Kardemomme            5  2016    03  2016-03   4.381023
89028       Kardemomme            4  2015    09  2015-09  14.370063
89029       Kardemomme            4  2015    08  2015-08  18.730390
89030       Kardemomme            2  2014    03  2014-03   6.394351
89031       Kardemomme            4  2012    12  2012-12   0.865009

[85434 rows x 6 columns]

In [24]:
dfkokkener = pd.read_csv(r'kokkenerfinal2.csv' , sep = ',')
dfkokkener

,Unnamed: 0,Unnamed: 0.1,links,rest_name,rest_location,rest_rating_aggr,rest_cuisine,rest_cuisine_2,rest_cuisine_3,rest_no_review,rest_price_cat,post1,post2,area,rest1,rest2
0,0,931,https://www.tripadvisor.dk/Restaurant_Review-g...,1050,"Holbergsgade 17, København 1000 Danmark",4.5,Europæisk,Dansk],NaN,48.0,2.5,"Holbergsgade 17, København 1000",1000.0,København K,Europæisk,Europæisk
1,1,607,https://www.tripadvisor.dk/Restaurant_Review-g...,1050,"Ostergade 52 Illum, København 1001 Danmark",3.5,Italiensk,Pizza,Middelhavsområdet,315.0,2.5,"Ostergade 52 Illum, København 1001",1001.0,København K,Italiensk,Italiensk
2,2,363,https://www.tripadvisor.dk/Restaurant_Review-g...,1050,"Oestergade 52 4. Sal, København 1001 Danmark",4.0,Fisk og skaldyr,Europæisk,Skandinavisk,219.0,2.5,"Oestergade 52 4. Sal, København 1001",1001.0,København K,Fisk og skaldyr,Fisk og skaldyr
3,3,1276,https://www.tripadvisor.dk/Restaurant_Review-g...,The Bagel Co,"Ostergade 52, København 1001 Danmark",4.0,Vegetarvenlig],NaN,NaN,27.0,1.0,"Ostergade 52, København 1001",1001.0,København K,Vegetarvenlig,Moderne
4,4,1645,https://www.tripadvisor.dk/Restaurant_Review-g...,Rio Temakeria,"Østergade 52 Illum rooftop, København 1001 Dan...",4.5,Japansk,Brasiliansk,Fisk og skaldyr,13.0,2.5,"Østergade 52 Illum rooftop, København 1001",1001.0,København K,Japansk,Japansk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,1148,678,https://www.tripadvisor.dk/Restaurant_Review-g...,Madhus24,"Søborg Hovedgade 24, København 2870 Danmark",4.0,Café,Europæisk,Skandinavisk,60.0,2.5,"Søborg Hovedgade 24, København 2870",2870.0,Hellerup,Café,Café
1149,1149,754,https://www.tripadvisor.dk/Restaurant_Review-g...,Trattoria Campo De Fiori,"Soeborg Hovedgade 12, København 2870 Danmark",4.0,Italiensk,Europæisk],NaN,51.0,2.5,"Soeborg Hovedgade 12, København 2870",2870.0,Hellerup,Italiensk,Italiensk
1150,1150,278,https://www.tripadvisor.dk/Restaurant_Review-g...,Altopalato,"Duntzfelts Alle 3 Hellerup, København 2900 Dan...",4.5,Italiensk,Europæisk,Vegetarvenlig,139.0,2.5,"Duntzfelts Alle 3 Hellerup, København 2900",2900.0,Hellerup,Italiensk,Italiensk
1151,1151,938,https://www.tripadvisor.dk/Restaurant_Review-g...,Kardemomme,"Maglemosevej 1, København 2900 Danmark",4.0,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk
1152,1152,428,https://www.tripadvisor.dk/Restaurant_Review-g...,Sticks'n'Sushi,"Strandvejen 199, København 2900 Danmark",4.0,Japansk,Sushi,Asiatisk,119.0,2.5,"Strandvejen 199, København 2900",2900.0,Hellerup,Japansk,Japansk

In [25]:
df = df.join(dfkokkener.set_index('rest_name'), on='rest_name')
df

,rest_name,rest_rating,year,month,date,avg_temp,Unnamed: 0,Unnamed: 0.1,links,rest_location,...,rest_cuisine,rest_cuisine_2,rest_cuisine_3,rest_no_review,rest_price_cat,post1,post2,area,rest1,rest2
0,Lomos Food Shop,5,2017,04,2017-04,7.143611,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lomos Food Shop,4,2017,02,2017-02,2.414839,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lomos Food Shop,4,2017,02,2017-02,2.414839,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lomos Food Shop,5,2016,11,2016-11,4.801204,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lomos Food Shop,5,2016,12,2016-12,4.892359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89027,Kardemomme,5,2016,03,2016-03,4.381023,1151.0,938.0,https://www.tripadvisor.dk/Restaurant_Review-g...,"Maglemosevej 1, København 2900 Danmark",...,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk
89028,Kardemomme,4,2015,09,2015-09,14.370063,1151.0,938.0,https://www.tripadvisor.dk/Restaurant_Review-g...,"Maglemosevej 1, København 2900 Danmark",...,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk
89029,Kardemomme,4,2015,08,2015-08,18.730390,1151.0,938.0,https://www.tripadvisor.dk/Restaurant_Review-g...,"Maglemosevej 1, København 2900 Danmark",...,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk
89030,Kardemomme,2,2014,03,2014-03,6.394351,1151.0,938.0,https://www.tripadvisor.dk/Restaurant_Review-g...,"Maglemosevej 1, København 2900 Danmark",...,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk
89031,Kardemomme,4,2012,12,2012-12,0.865009,1151.0,938.0,https://www.tripadvisor.dk/Restaurant_Review-g...,"Maglemosevej 1, København 2900 Danmark",...,Indisk,Vegetarvenlig,Veganske retter,56.0,2.5,"Maglemosevej 1, København 2900",2900.0,Hellerup,Indisk,Indisk

In [ ]:
df = df.loc[: , ['rest_name' , 'rest_rating' , 'date' , 'avg_temp','area','rest2','rest_price_cat','rest_no_review']]